.cabecalho {
    background-color: rgb(187, 0, 112);
    background-image: url("../imagens/img-01-banner.png");
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.container {
    margin: 20px;
}

h1, h2 {
    font-family: serif;
}

nav a{
    font-weight: bold;
}



#conteudo {
    line-height: 1.5;
}

form {
    border: 1px solid gray;
    padding: 10px;
}

p {
    color: green
}

form button {
    background-color: blue;
    color: white;
}

footer {
    border-top: 2px solid red;
}

.rodape {
    background-color: rgb(187, 0, 112);
    background-image: url("../imagens/img-01-banner.png");
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}